PORT=3000
NODE_ENV=development
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=ct_set4

REDIS_URL=redis://localhost:6379

SMTP_HOST=localhost
SMTP_PORT=1025
MAIL_FROM="Set 4 <no-reply@set4.local>"

WORKERS=
